
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
body{
    background-image: url(../img/restaurant.png);
    background-attachment: fixed;
    font-family:'Catamaran', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin:0;
}
#logo{
    align-self: center;
    width:10%;
    margin-bottom: 0;
}
.listaini{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.itemMenu{
    line-height: 30px;
    text-decoration: none;
    color: white;
    font-size: 1.25em;
    padding:0px 60px 0px 60px;
    border: solid 2px rgb(56, 53, 53);
    background-color: rgb(68, 67, 67);
    margin: 0;
}
.fotoPrincipal{
    background-image: url(../img/cmd0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 85vw;
    margin-bottom: 30px;
}
section{
    display: flex;
    width: 85vw;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1050px;
    justify-content: center;
    overflow: auto;
      
}
.fotoCmd{
    display: flex;
    width: 505px;
    flex-direction: column;
    height: 520px; 
}
#ft2,#ft3{
    margin-left: 50px;
    margin-right: 50px;
}
.blocoIm{
    height: 50%;
}
.ftp{
    width: 100%;
    object-fit: cover;
    height: 100%;
    z-index: 5;
}
.amp{
    justify-self: center;
    align-self: center;
    z-index: 10;
    background-color:rgba(109, 119, 109, 0.8);
    text-align: center;
    position: relative;
    bottom: 60%;
}
.Nome{
    font-size: 1.5em;
    margin-bottom: 0;
}
.Explic{
    line-height: 1em;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0;
    text-align: justify;
}
.VM{
    line-height: 1.5em;
    color: white;
    font-size: 1.25em;
    border: solid 2px rgb(56, 53, 53);
    background-color: rgb(68, 67, 67);
    width: 19%;
    margin: 0;
    text-align: center;
}
footer{
    display: flex;
    border-radius: 20px 20px 0 0;
    width: 85vw;
    height: 120px;
    background-color: red;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    align-items: center;
    justify-self: flex-end;
  
}
.itemMenuF{
    color: white;
    text-decoration: none;
}