section{
    max-width: 1200px;
    width: 100vw;
    border: solid;
    background-color: rgb(218, 248, 248);
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
}
header{
    width: 100vw;
    height: 20vh;
    border: solid 2px violet;
    background-color: rgb(255, 204, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.cxA{
    width:20.8%;
    background-color: teal;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    height: 100%;
    margin: 0;
  }
.cxB{
    width:66.7%;
    background-color: teal;
    text-align: center;
    margin-left:2.1%;
    margin-right:2.1%;
    color: whitesmoke;
    font-size: 20px;
    height: 100%;
}
.cxC{
    width:8.3%;
    background-color: teal;
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    height: 100%;
    margin: 0;
}
h2{
    font-size: 1.75em;
}
p{
    font-size:0.81em;
}
Strong{
    font-size:0.93em;
}
@media (max-width: 900px){
    section{
        padding: 20px;
        width: 95vw;
    }
    .cxA{
        width:40%;
    }
    .cxB{
        width:55%;
        margin-left:0;
        margin-right:0;
    }    
    .cxC{
        width:100%;
    }
}